/* este es la hoja de estilos, asociada a la página
CSS EXTERNO */
/* body {
    color: blueviolet;
    /*background-color: cadetblue;/*
} */

/* h1 es el selector por el nombre la etiqueta */
h1 {
    color: blue;
    text-align: center;
    background-color: white;

    width: 400px;
    height: 30px;
    margin: 30px auto; /*50px por arriba y por abajo, y por lados, auto, centrado*/ 
    /*margin: 50px;*/ /*por todos los sitios*/
    padding: 60px 140px;
    /*margin: 10px 30px 60px 90px;*/ /*arriba, derecha, abajo, izquierda*/
    /*margin: 10px 30px */ /*por arriba y por abajo, por los lados*/
    border: 5px solid black;
}



nav {
    background-color: coral;
    padding: 10px;
    border-radius: 50px;
    width: fit-content;
    margin: 40px auto;
}



nav ul
{
    list-style: none; /*para quitarle el estilo a la lista los puntos que vienen por defecto*/
}

nav ul li {
    display: inline;
}

/* # es el selector por el id la etiqueta */
#subtitulo {
    text-align: center;
}

/*las otras p's, las quiero en verde oscuro
        con . selecciono a todas los elementos con esa clase*/
.description {
    color: white;
}

section {
    background-color: cornflowerblue;
    margin: 90px auto;
    width: 500px;
    text-align: center;
    padding: 20px 0px;
}

section img {
    width: 180px;
    height: 180px;
}

ol
{
    list-style: none;
}

#seccion-enlaces {
    text-align: center;
}

#seccion-enlaces ul {
    list-style: none;
}

footer {
    margin: 300px auto 0px auto;
    text-align: center;
    background-color: gray;
    padding: 30px;
}